<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aut recusandae sed temporibus et aliquam nam minus veniam earum, labore repellendus commodi, ipsum omnis incidunt. Perspiciatis in quis deleniti ullam!
Exercitationem mollitia voluptas illum vel ut aliquam et sapiente eveniet repellendus quis odio aliquid, culpa eius, minus non beatae quibusdam quasi molestias nam praesentium dolor harum voluptate. Ipsa, vel velit.
Explicabo maxime labore dolorem iste molestiae doloremque distinctio totam nam animi, sit beatae consequuntur quis corporis ex nostrum asperiores, soluta numquam nihil laborum. Rem labore nulla eveniet autem pariatur nihil.
Voluptas, dolorem! Placeat illum, autem possimus rerum temporibus eum ipsum, aliquid commodi magni aspernatur molestiae sapiente soluta deleniti dignissimos facilis labore earum? Delectus officia odio corrupti nostrum accusantium fugiat laudantium.
Non eligendi quasi enim nisi nulla dolor necessitatibus et quibusdam. Ex mollitia enim reprehenderit aspernatur! Amet eos dolor quo voluptates praesentium, dolore sit nesciunt totam porro illo? Doloremque, illo voluptatum?</p>

<%- include("footer") -%>
